body {
    background-image: url("img/code_gif.gif");
}

.frame_6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.frame_5 {
    /* Frame 5 */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 619px;


}

.frame_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 851px;
}

.frame_3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.button_1 {
    /* Button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.button_2 {
    /* Button */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.button_3 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 885px;

    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

}

.text_button_3{
    /* Button */
    
    
    width: 288px;
    height: 19px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    /* Dark blue/dark-blue-300 */
    
    color: #0A3871;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 1;
}

.card {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    /* White */

    /* background: #0a21eb; */
    background: rgb(8, 9, 83);
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 7, 0.829);
    border-radius: 25px;
}

.textarea_1 {
    position: absolute;
    width: 680px;
    height: 48px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 10;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */


    /* Dark blue/dark-blue-300 */

    color: #0920ec;
}

.text_1 {

    /* Gray/gray-500 */

    color: #f81111;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text_2 {
    width: 336px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.text_button_1 {
    /* Button */


    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.text_button_2 {
    /* Button */

    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.textarea_2 {
    position: absolute;
    width: 336px;
    height: 781px;
    left: 1032px;
    top: 72px;

    background: rgb(8, 9, 83);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    /* Gray/gray-400 */

    color: #56b0dd;

    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}